:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  color: #434455;
}
button {
  cursor: pointer;
}
/* p, a - 400, h1 - 700 */
/* pseudoclass it is why because in html it is not exist but in css is. */

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* Для зображень необхідне адаптивне правило max-width: 100%, 
  тому вони можуть виходити за межі контейнерів на малих екранах. */
  max-width: 100%;
  height: auto;
}

address {
}

.container {
  /* що не дає макету зменшуватися на вужчих екранах. */
  max-width: 1158px;
  /* 1158-1128=30/2=15px paddings */
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  width: 156px;
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  margin-right: 76px;
  /* height: 24px; */
  /* with preprocessors old mode style*/
  /* .colorine {
    color: #4d5ae5;
  } */
}

/* without preprocessors */
.header-logo-colorine {
  color: #4d5ae5;
}

.header-menu-list {
  display: flex;
  width: 261px;
  justify-content: space-between;
}

.header-menu-item {
}

.header-contacts {
  /* перемещаем в крайне правое положение то есть максимальное
  место для левого маргина. */
  margin-left: auto;
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-item {
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* .header-contacts-link:hover, .header-contacts-link:focus {
    color: #31d0aa;
} */

.header-menu-link:focus,
.header-contacts-link:focus,
.header-menu-link:hover,
.header-contacts-link:hover {
  color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-basic {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-undertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  gap: 8px;
}

.section-subtitle-basic {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-description-basic {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.hero {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: #fff;
  max-width: 496px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  padding: 100px;
  border-radius: 4px;
  padding: 16px 32px;
  max-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
}

.hero-btn-blue:hover,
.hero-btn-blue:focus {
  color: #091160;
}

.features {
  padding-top: 120px;
  padding-bottom: 409px;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.features-item {
  width: calc((100% - 24px * 2) / 4);
}

.features-subtitle {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-description {
}

.team-cards {
  background: var(--cloud);
  padding-bottom: 72px;
}

.team-cards-title {
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
}

.team-cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-cards-item {
  border-radius: 0 0 4px 4px;
  /* padding: 0px 0px 32px; */
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

/* Це зробить зображення «гумовими», тобто вони підлаштовуватимуться під ширину батьківського елемента */
.team-cards-img {
  max-width: 100%;
  /* min-width: 100%; */
  object-fit: cover;
}

.team-cards-subtitle {
  gap: 8px;
}

.team-cards-description {
}

.portfolio {
  padding: 120px 72px;
}

/* explanation text under image in section portfolio for example */
.portfolio-undertext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  gap: 8px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* raw-gap - между верзними и нижними елементам */
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-img {
  max-width: 360px;
}

.portfolio-subtitle {
}

.portfolio-description {
}

.footer {
  background: var(--navy-blue);
}

.footer-menu {
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-title {
  color: var(--cloud);
}

.footer-colored-title {
  color: var(--iris);
}

.footer-subtitle {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: left;

  color: var(--cloud);
}
